
.score-container
{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.score-name
{
    font-size: xx-large;
}

.score-value
{
    font-size: xx-large;
    font-weight: bold;
}
.score-round
{
    font-size: small;
}

.winner
{
    color: Red;
}

/*
input[type="number"]
{
    width: 50px !important;
}
*/

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
